body {
  color: white;
  font-family: arial;
  font-size:25px;
  background-image: url("https://sds.neocities.org/2.png");
}



a:link {
  color: rgb(0, 204, 255);
  
  text-decoration: none;
}

a:visited {
  color: rgb(0, 204, 255);
  text-decoration: none;
}

a:hover {
  color: rgb(0, 204, 255);
  
  text-decoration: underline;
}

a:active {
  color: white;
  
  text-decoration: underline;
}
